.slider {
  height:500px; 
  background-image: url('../public/img/slider.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

.start {
  transform: scale(0);

}
.end {
   transform: scale(1);
   transition :all 0.5s;
}